.message {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.messageImage {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageTop {
    display: flex;
}

.messageBottom {
    font-style: 12px;
    margin-top: 10px;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f3;
    color: white;
    max-width: 300px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: rgb(245, 239, 239);
    color:black
}